body {
    font-family: 'GenSekiGothic', Arial, Helvetica, sans-serif;
    background: #1f1f1f;
    color: #fff;

    cursor: url('../img/mouseDefault.svg') 16 16, auto;

    @include for-mobile {
        margin-bottom: 40px;
    }
}
.container {
    margin: 0 auto;
    max-width: 1200px;

    @include for-pad {
        max-width: 768px;
    }
    @include for-mobile {
        min-width: 375px;
    }
}
