body {
    font-family: 'GenSekiGothic', Arial, Helvetica, sans-serif;
    background: #1f1f1f;
    color: #fff;
}
.container {
    margin: 0 auto;
    max-width: 1920px;

    @include for-pad {
        max-width: 768px;
    }
    @include for-mobile {
        min-width: 375px;
    }
}
