.container {
    background-color: #d0d0d0;
    margin: 0 auto;
    width: 90%;
    @include for-desktop {
        max-width: 1920px;
        min-width: 1200px;
    }
    @include for-pad {
        max-width: 768px;
    }
    @include for-mobile {
        width: 100%;
        min-width: 375px;
    }
}
