.MobileFooter {
    display: none;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100vw;
    height: 40px;
    background-color: #d9f24f;
    z-index: 99;
    @include for-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
