.Section6 {
    &__title {
        box-sizing: border-box;
        width: 1000px;
        height: 211.37px;
        background: #4f26e9;
        padding: 40px;
        margin-bottom: 55px;
        margin-left: auto;

        h2 {
            line-height: calc(56.4897px / 1.15965 * 1.5);
            font-weight: 900;
            font-size: 56.4897px;
            transform: scaleX(1.15965);
            transform-origin: right;
            text-align: end;
        }

        &__breakLine {
            display: none;
        }
        @include for-pad {
            width: 100%;
            height: auto;

            margin-left: 0;
            &__breakLine {
                display: inline;
            }
            & h2 {
                display: inline-block;
                font-size: 53.31px;
                line-height: calc(53.31px / 1.15965 * 1.5);
                text-align: start;
                transform-origin: left;
            }
        }

        @include for-mobile {
            padding: 15px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            & h2 {
                transform-origin: center;
                font-size: 26px;
                line-height: calc(26px / 1.15965 * 1.5);
                margin: 0 auto;
            }
        }
    }
    &__container {
        box-sizing: border-box;
        padding: 0 40px;
        @include for-pad {
            padding: 0 30px;
        }
        @include for-mobile {
            padding: 0 10px;
        }
    }
    &__competitionFlow {
        margin-bottom: 125px;
        @include for-pad {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;
        }
        @include for-mobile {
            margin-bottom: 40px;
        }
        &__title {
            display: inline-block;
            font-size: 36.9597px;
            font-weight: 900;
            transform: scaleX(1.15965);
            transform-origin: left;
            text-align: center;
            background-color: #4f26e9;
            color: #fff;
            padding: 14px 23px 8px;
            margin-bottom: 35px;
            @include for-pad {
                font-size: 37.08px;
                transform-origin: center;
            }
            @include for-mobile {
                font-size: 20px;
                padding: 7px 11px 4px;
                margin-bottom: 17px;
            }
        }
        &__eachFlow {
            display: flex;
            padding-left: 54px;
            @include for-pad {
                padding-left: 0px;
            }
            span {
                display: inline-block;
                font-size: 24px;
                font-weight: 700;
                transform: scaleX(1.15965);
                transform-origin: left;
                text-align: center;
                background-color: #d8f34f;
                color: #1f1f1f;
                padding: 8px 15px 4px;

                margin-right: 36px;
                @include for-pad {
                    font-size: 24.03px; //FIXME:
                    transform-origin: center;
                }
                @include for-mobile {
                    font-size: 12.03px; //FIXME:
                    margin-right: 12px;
                    padding: 4px 7px 2px;
                }
            }
            p {
                line-height: 36px;
                font-size: 24px;
                font-weight: 700;
                transform: scaleX(1.15965);
                transform-origin: left;
                color: #fff;
                @include for-pad {
                    font-size: 24.08px; //FIXME:
                }
                @include for-mobile {
                    font-size: 12px; //FIXME:
                    line-height: 17px;
                }
            }
        }
        &__eachFlow + &__eachFlow {
            margin-top: 30px;
            @include for-mobile {
                margin-top: 10px;
            }
        }
    }
    &__competitionAwards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 170px;

        @include for-pad {
            margin-bottom: 80px;
        }
        @include for-mobile {
            margin-bottom: 40px;
        }
        &__title {
            display: inline-block;
            font-size: 36.9597px;
            font-weight: 900;
            transform: scaleX(1.15965);
            text-align: center;
            background-color: #4f26e9;
            color: #fff;
            padding: 14px 23px 8px;
            margin-bottom: 40px;
            @include for-pad {
                font-size: 37.08px;
                margin-bottom: 30px;
            }
            @include for-mobile {
                font-size: 20px;
                padding: 7px 11px 4px;
                margin-bottom: 17px;
            }
        }
        &__content {
            color: #d8f34f;
            font-size: 31px;
            font-weight: 700;
            transform: scaleX(1.15965);
            margin-bottom: 50px;
            @include for-pad {
                font-size: 25.69px;
            }
            @include for-mobile {
                font-size: 12px;
                margin-bottom: 20px;
            }
            li {
                position: relative;
                &::before {
                    content: '#';
                    display: inline-block;
                    margin-right: 12px;
                    @include for-mobile {
                        margin-right: 6px;
                    }
                }
                span {
                    display: inline-block;
                    margin: 0 15px;
                    font-weight: 400;
                    @include for-mobile {
                        margin: 0 6px;
                    }
                }
            }
            li + li {
                margin-top: 40px;
                @include for-mobile {
                    margin-top: 10px;
                }
            }
        }
        &__note {
            display: inline-block;
            font-size: 31px;
            font-weight: 700;
            transform: scaleX(1.15965);
            text-align: center;
            background-color: #d8f34f;
            color: #1f1f1f;
            padding: 13px 70px 7px;
            @include for-pad {
                font-size: 25.69px;
                padding: 6.5px 35px 3.5px;
            }
            @include for-mobile {
                font-size: 12px;
                padding: 6.5px 20px 3.5px;
            }
        }
    }
    &__sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            margin-bottom: 50px;
            @include for-pad {
                margin-bottom: 40px;
            }
            @include for-mobile {
                margin-bottom: 20px;
            }
        }
        h3 {
            // display: inline-block;
            font-weight: 900;
            font-size: 56.4897px;
            transform: scaleX(1.15965);
            text-align: center;
            @include for-pad {
                font-size: 48.91px;
            }
            @include for-mobile {
                font-size: 24px;
            }
        }
    }

    &__sponsor__beehive__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // beehive 下排往上48%
    &__sponsors :nth-child(3) {
        transform: translate(0%, -48%);
    }

    &__sponsor__beehive {
        width: 297.61px;
        height: 257.74px;
        background: #4f26e9;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        @include for-pad {
            width: 257.72px;
            height: 223.19px;
        }
        @include for-mobile {
            width: 125.84px;
            height: 108.99px;
        }
    }

    .beehive-mask + .beehive-mask {
        margin-left: calc(148px + 26px);
        @include for-pad {
            margin-left: 155px;
        }
        @include for-mobile {
            margin-left: 75px;
        }
    }
    .beehive-mask:nth-child(1) {
        z-index: 10;
    }
    .beehive-mask:hover &__sponsor__beehive {
        transform: scale(0.85);
        transform-origin: center;
    }
}
