.Section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;
  padding-bottom: 92px;

  .title {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    color: #f2e8de;
    transform: scaleX(1.15);

    @include for-pad {
      display: none;
    }
  }

  .titlePad {
    font-size: 56px;
    font-weight: bold;
    color: #f2e8de;
    transform: scaleX(1.15);
    display: none;

    @include for-pad {
      display: block;
    }

    @include for-mobile {
      display: block;
      font-size: 26px;
    }
  }

  .titleBar {
    margin-top: 17px;

    @include for-pad {
      display: none;
    }
  }

  .titleBarPad {
    display: none;
    margin-top: 17px;
    position: relative;

    @include for-pad {
      width: 670px;
      height: 198px;
      display: block;

      div {
        position: absolute;
        width: auto;
        height: 66px;
      }
    }

    @include for-mobile {
      width: 327px;
      height: 96px;
      display: block;

      div {
        position: absolute;
        width: auto;
        height: 32px;

        img {
          width: 229px;
          height: 32px;
        }
      }
    }
  }

  .blockContainer {
    width: 1059px;
    height: 304px;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include for-pad {
      display: block;
      position: relative;
      width: 652px;
      height: 1270px;
    }

    @include for-mobile {
      width: 100%;
      height: auto;
    }

    .block {
      width: 304px;
      height: 304px;
      position: relative;

      @include for-pad {
        display: none;
      }

      @include for-mobile {
        display: none;
      }

      .mask {
        position: absolute;
        width: 304px;
        height: 304px;
        border-radius: 100%;
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: circle(50%);
        z-index: 1000;
        cursor: url('../img/mousePointer.svg') 16 16, pointer;
      }

      .outer {
        position: absolute;
        width: 304px;
        height: 304px;
        border-radius: 100%;
        background-color: #d9f24f;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: circle(50%);
      }

      .hashtag {
        position: absolute;
        width: 130px;
        height: 29px;
        top: 45px;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      .outerContent {
        position: absolute;
        width: 254px;
        height: 79px;
        top: 112px;
        left: 50%;
        transform: translate(-50%, 0%);
      }

      .inner {
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        background-color: #4f26e9;
        clip-path: circle(50%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .innerContent {
          position: absolute;
          width: 207px;
          height: 29px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .outerBar {
        width: 198px;
        height: 41px;
        background-color: #4f26e9;
        position: absolute;
        left: -25px;
        bottom: 46px;
        overflow: hidden;

        p {
          font-family: "OTF_Glusp";
          position: relative;
          font-size: 27px;
          width: 185px;
          height: 19px;
          left: 8px;
          top: 50%;
          text-align: center;
          transform: translate(0%, -50%);
        }

        .innerBar {
          width: 0px;
          height: 41px;
          background-color: #f2e8de;
          position: absolute;
          top: 0;
          left: 0%;
          overflow: hidden;

          .innerBarContent {
            width: 106px;
            height: 20px;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .blockPad {
      display: none;
      align-items: center;
      justify-content: space-around;
      margin: 22px auto 0px;

      p {
        font-size: 27px;
      }

      @include for-pad {
        display: flex;
      }

      @include for-mobile {
        display: flex;
        width: 300px;

        p {
          font-size: 14px;
        }

        .outerPad {
          width: 215px;
        }

        .pointerPad {
          width: 11px
        }
      }
    }
  }
}