.Section6 {
    &__title {
        box-sizing: border-box;
        width: calc(1000px / 1.15965);
        height: 211.37px;
        line-height: calc(56.4897px / 1.15965 * 1.5);
        background: #4f26e9;
        font-weight: 900;
        font-size: 56.4897px;
        transform: scaleX(1.15965);
        transform-origin: right;
        text-align: end;
        padding: 40px;
        margin-left: auto;

        &__breakLine{
            display: none;
        }
        @include for-pad {
            width: 80%;
            line-break: auto;
            height: auto;
            font-size: 53.31px;
            line-height: calc(53.31px / 1.15965 * 1.5);
            text-align: start;
            transform-origin: left;
            margin-left: 0;
            &__breakLine{
                display: inline;
            }
        }
    }

    &__competitionFlow {
        margin-bottom: 125px;
        @include for-pad{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            display: inline-block;
            font-size: 36.9597px;
            font-weight: 900;
            transform: scaleX(1.15965);
            transform-origin: left;
            text-align: center;
            background-color: #4f26e9;
            color: #fff;
            padding: 14px 23px 8px;
            @include for-pad {
                font-size: 37.08px;
            }
        }
        &__eachFlow {
            display: flex;
            padding-left: 54px;
            span {
                display: inline-block;
                font-size: 24px;
                font-weight: 700;
                transform: scaleX(1.15965);
                transform-origin: left;
                text-align: center;
                background-color: #d8f34f;
                color: #1f1f1f;
                padding: 8px 15px 4px;

                margin-right: 36px;
                @include for-pad {
                    font-size: 24.03px; //FIXME:
                }
            }
            p {
                line-height: 36px;
                font-size: 24px;
                font-weight: 700;
                transform: scaleX(1.15965);
                transform-origin: left;
                color: #fff;
                @include for-pad {
                    font-size: 24.08px; //FIXME:
                }
            }
        }
        &__eachFlow + &__eachFlow {
            margin-top: 30px;
        }
    }
    &__competitionAwards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 170px;
        &__title {
            display: inline-block;
            font-size: 36.9597px;
            font-weight: 900;
            transform: scaleX(1.15965);
            transform-origin: left;
            text-align: center;
            background-color: #4f26e9;
            color: #fff;
            padding: 14px 23px 8px;
            @include for-pad {
               font-size: 37.08px;
            }
            @include for-mobile {
                font-size: 37.16px;
             }
        }
        &__content {
            color: #d8f34f;
            font-size: 31px;
            font-weight: 700;
            transform: scaleX(1.15965);
            transform-origin: left;
            margin-bottom: 50px;
            @include for-pad {
                font-size: 25.69px;
             }
            li {
                position: relative;
                &::before {
                    content: '#';
                    display: inline-block;
                    margin-right: 12px;
                }
                span {
                    display: inline-block;
                    margin: 0 15px;
                    font-weight: 400;
                }
            }
            li + li {
                margin-top: 40px;
            }
        }
        &__note {
            display: inline-block;
            font-size: 31px;
            font-weight: 700;
            transform: scaleX(1.15965);
            transform-origin: left;
            text-align: center;
            background-color: #d8f34f;
            color: #1f1f1f;
            padding: 13px 70px 7px;
        }
    }
    &__sponsors {
        display: flex;
        flex-direction: column;
        min-width: 768px;
        h3 {
            width: calc(100% / 1.15965);
            font-weight: 900;
            font-size: 56.4897px;
            transform: scaleX(1.15965);
            transform-origin: 0 0;
            text-align: center;
            @include for-pad {
                font-size: 48.91px;
            }
        }
    }

    &__sponsor__beehive__wrapper {
        display: flex;
        justify-content: center;
    }

    // beehive 下排往上50%
    &__sponsors :nth-child(3) {
        transform: translate(0%, -50%);
    }

    &__sponsor__beehive {
        width: 297.61px;
        height: 257.74px;
        background: #4f26e9;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-pad {
            width: 257.72px;
            height: 223.19px;
        }
        @include for-mobile {
            width: 125.84px;
            height: 108.99px;
        }
    }

    &__sponsor__beehive + &__sponsor__beehive {
        margin-left: calc(148px + 26px);
    }
}
