:root {
    --offset: 40px;
    --box-width: 548px;
    --box-height: 475px;
}
@media (min-width: 480px) {
    :root {
        --font-size: 18px;
    }
}
@include for-pad {
    :root {
        --offset: 30px;
        --box-width: 425px;
        --box-height: 368px;
    }
}
@include for-mobile {
    :root {
        --offset: 10px;
        --box-width: 207.59px;
        --box-height: 179.77px;
    }
}
.Section1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: var(--offset);

    @include for-pad {
        flex-direction: column;
        align-items: center;
    }
    @include for-mobile {
        box-sizing: border-box;
    }

    &__activityTitle {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: var(--offset);
        transform: translate(0, -50%);
        @include for-pad {
            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;
            top: auto;
            left: auto;
            transform: none;
        }
        h1 {
            font-family: 'OTF_Glusp';
            font-size: 67.875px;
            font-weight: 700;
            white-space: nowrap;

            @include for-pad {
                font-size: 63.89px;
            }
            @include for-mobile {
                font-size: 31.19px;
            }
        }
        p {
            display: inline-block;
            font-size: 90.2608px;
            font-weight: 700;
            transform: scaleX(1.5);
            transform-origin: left;

            @include for-pad {
                font-size: 60px; // FIXME:字體大小
                transform-origin: center;
            }
            @include for-mobile {
                font-size: 28px;
            }
        }
    }

    .Section1__hoverBox {
        position: relative;
        @include for-pad {
            transform: translateY(calc(-0.25 * var(--box-height)));
        }
        &__wrapper {
            width: var(--box-width);
            height: var(--box-height);
            background: #4f26e9;
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            margin: 60px 0;
            @include for-pad {
                margin: 0;
            }
        }
        &__controlAnimate__box {
            width: var(--box-width);
            height: var(--box-height);
            background: transparent;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            z-index: 11;
        }
        &__inner {
            background: #d8f34f;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            overflow: hidden;
            &__leftHand {
                width: 411px;
                height: 162px;
                position: absolute;
                top: 40%;
                left: -200px; //避免初始化未知閃爍
                @include for-pad {
                    width: 300px;
                    height: 120px;
                }
                @include for-mobile {
                    width: 150px;
                    height: 60px;
                }
            }
            &__rightHand {
                width: 411px;
                height: 162px;
                position: absolute;
                top: 40%;
                right: -200px; //避免初始化未知閃爍
                @include for-pad {
                    width: 300px;
                    height: 120px;
                }
                @include for-mobile {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }

    &__attendActivityPeople {
        position: absolute;
        bottom: calc(var(--offset) + 7px);
        right: 50%;
        transform: translate(50%, 0);
        width: calc(100% - var(--offset) * 2);

        @include for-pad {
            width: auto;
            right: var(--offset);
            bottom: calc(var(--offset) + 7px);
            transform: translateY(calc(-0.25 * var(--box-height)));
        }
        ul {
            display: flex;
            justify-content: space-between;
            @include for-pad {
                display: inline-block;
                li + li {
                    margin-top: 20px;
                }
            }
            @include for-mobile {
                li + li {
                    margin-top: 10px;
                }
            }
            h4 {
                font-size: 18.5392px;
                @include for-pad {
                    font-size: 16px;
                }
                @include for-mobile {
                    font-size: 7.8px;
                }
            }
            p {
                font-family: 'OTF_Glusp';
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 3px;

                @include for-pad {
                    font-size: 12.94px;
                }
                @include for-mobile {
                    font-size: 6.32px;
                }
            }
        }
    }
}
