// 源石黑體
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-M.ttc');
}
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-B.ttc');
    font-weight: 700;
}
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-H.ttc');
    font-weight: 900;
}
// 源石黑體
