// 源石黑體
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-M.ttc');
}
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-B.ttc');
    font-weight: 700;
}
@font-face {
    font-family: 'GenSekiGothic';
    src: url('/font/genseki-font/GenSekiGothic-H.ttc');
    font-weight: 900;
}
// 源石黑體

//OTF@Glusp
@font-face {
    font-family: 'OTF_Glusp';
    src: url('/font/otf_glusp/OTF_Glusp.ttf');
}
//OTF@Glusp

// m-plus-1p
@font-face {
    font-family: 'm-plus-1p';
    src: url('/font/m-plus-1p/MPLUS1p-Medium.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'm-plus-1p';
    src: url('/font/m-plus-1p/MPLUS1p-Black.ttf');
    font-weight: 900;
}
// m-plus-1p
